body {
    background-color: #F8EDE3;
}
hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #61876E;
    border-width: 5px;
    width: 3.5%;
}
h1 {
    color: #3C6255;
}
h2 {
    color: #3C6255;
}
h3 {
    color: #61876E;
}